# Data Science Tools and Ecosystem

In this notebook, Data science tools and ecosystem are summarised

__Objectives__ 

* List Popular Languages for Datascience
* List commonly used Datascience Libraries
* List popular Datascience tools
* Few samples of evaluating Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|DataScience Tools|
|-------------------|
|Hadoop|
|MongoDB|
|Jupyter|
|Kubernetes|
|Github|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
x= (200/60)
print(x)

3.3333333333333335

## Author

Deepthi Ravikumar